.header {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.navbar {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.margin-right {
  margin-right: 10px;
}

.main {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}
